.card {
    width: 63mm;
    height: 88mm;
    border-radius: 5.5mm;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.45); 
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.45);
    /* font-family: 'Jaldi', sans-serif; */
    padding: 1rem;
    line-height: 1.4rem;
    font-size: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .5s ease-in-out;
    cursor: pointer;
    user-select: none;
    background-color: #fff;
}

.card[data-wobble='1'] {
    animation: wobble .5s 1;
  }
  
  @keyframes wobble {
    25% {
      transform: rotate(3deg);
    }
    50% {
      transform: rotate(-7deg);
    }
    75% {
      transform: rotate(1deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
.card:hover {
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.45); 
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.45);
    transform: scale(1.01 , 1.01);
}