.card .card-bonus {
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 5.5mm;
}

.card .card-text {
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 1.65rem;
    font-weight: 600;
    text-align: center;
}

.card .card-bonus .card-bonus-text {
    text-align: center;
    margin: .5rem .75rem;
    font-size: .5rem;
}