.card .card-text {
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 1.65rem;
    font-weight: 600;
    text-align: center;
}
 .card .card-star {
     font-size: 2.5rem;
     text-align:  center;
     margin-top: 2rem;
 }