.card-container {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

.menu-item {
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
}

.menu-item:last-child {
    padding-right: 0rem;
}