body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}

.modal-close {
    position: absolute;
    top: .4rem;
    right: 1rem;
    cursor: pointer;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 500px) {
    .hide-on-sm {
        display: none;
    }
  }
@media only screen and (max-width: 700px) {
    .hide-on-md {
      display: none;
    }
  }